/* Dark */
$dark:#171a1f;
$dark-8: rgba(23, 26, 31, 0.08);
$dark-24: rgba(21, 28, 41, 0.24);
$dark-36: rgba(21, 28, 41, 0.36);
$dark-48: rgba(21, 28, 41, 0.48);
$dark-64: rgba(21, 28, 41, 0.64);
$dark-two: #151c29;
$dark-12-three: rgba(23, 26, 31, 0.12);
$dark-48-two: rgba(23, 26, 31, 0.48);
$dark-48-three: rgba(21, 28, 40, 0.48);
$dark-64-two: rgba(21, 28, 40, 0.64);

/* Overlay */
$dark-12: rgba(22, 25, 30, 0.12);

/* Grey */
$grey: rgba(23, 26, 31, 0.04);
$grey-light:#e6e6e6;
$grey-dark:#3d3d3d;
$grey-dark-2:#595959;
$grey-medium:#787878;
$grey-medium-2:#8f8f8f;
$grey-medium-3:#888888;
$grey-medium-4:#BABABA;
$grey-medium-5:#D8D8D8;
$grey-medium-6:#8C8C8C;

/* Red */
$red: #ff0000;

/* White */
$white : #fafafa;
$white-74: rgba(255, 255, 255, 0.74);
$white-64: rgba(255, 255, 255, 0.64);
$white-16: rgba(255, 255, 255, 0.16);
$white-12: rgba(255, 255, 255, 0.12);

$white-two:#f7f7f7;
$white-three:#dcdcdc;
$white-four:#d8d8d8;
$white-five:#e6e6e6;
$white-six:#e6e6e6;

/* Orange */
$orange:#fe6e0d;
$bright-orange:#ff6600;
$deep-orange:#eb5600;
$dark-orange: #e64d00;

$orange-always:#fe6e0d;
$prefer-always:#a29061;
$orange-no-prefer:#fe6e0d;

/* Brown Grey */
$brown-grey:#838375;
$brown-grey-7: rgba(131, 131, 117, 0.07);

$greyish-brown:#484848;
$very-dark-brown-64: rgba(17, 0, 0, 0.64);

/* Warm Grey */
$warm-grey:#979797;
$warm-grey-two:#f7f7f7;
$warm-grey-three:#737373;

/* Pinkish Grey */
$pinkish-grey:#bbbbbb;
$pinkish-grey-two:#bfbfbf;

/* Green */
$turtle-green:#89ba50;
$green-check: #7ed321;

/* Slate Grey */
$slate-grey:#696e76;