@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../Content/fonts/glyphicons-halflings-regular.eot');
    src: url('../Content/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
    url('../Content/fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
    url('../Content/fonts/glyphicons-halflings-regular.woff') format('woff'), 
    url('../Content/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
    url('../Content/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
    font-family: 'galicia-ui';
    src: url('../Content/fonts/galicia-ui.eot?8esgb8');
    src: url('../Content/fonts/galicia-ui.eot?8esgb8#iefix') format('embedded-opentype'), 
        url('../Content/fonts/galicia-ui.ttf?8esgb8') format('truetype'), 
        url('../Content/fonts/galicia-ui.woff?8esgb8') format('woff'), 
        url('../Content/fonts/galicia-ui.svg?8esgb8#galicia-ui') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Regular';
    src: url('../Content/fonts/PTSans-Regular.eot?8esgb8');
    src: url('../Content/fonts/PTSans-Regular.eot?8esgb8#iefix') format('embedded-opentype'),
        url('../Content/fonts/PTSans-Regular.ttf?8esgb8') format('truetype'),
        url('../Content/fonts/PTSans-Regular.woff?8esgb8') format('woff'),
        url('../Content/fonts/PTSans-Regular.svg?8esgb8#galicia-ui') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans-Bold';
    src: url('../Content/fonts/PTSans-Bold.eot?8esgb8');
    src: url('../Content/fonts/PTSans-Bold.eot?8esgb8#iefix') format('embedded-opentype'),
        url('../Content/fonts/PTSans-Bold.ttf?8esgb8') format('truetype'),
        url('../Content/fonts/PTSans-Bold.woff?8esgb8') format('woff'),
        url('../Content/fonts/PTSans-Bold.svg?8esgb8#galicia-ui') format('svg');
    font-weight: normal;
    font-style: normal;
}



