@media screen and (min-device-width: 1024px) and (max-device-width: 1199px) { 

/* _text-styles */

.products {
	h2 {
		margin-top: 2px;
    	margin-left: 2px;	
	}
	h5 {
		margin-top:0px;
	}
}


/* _menu */

.navbar-nav {
    margin-right: -45px;
}

/* _column*/

.column-card {
    margin-left: -35px;
}



}

@media screen and (min-device-width: 1025px) and (max-device-width: 1199px) { 

.header-image h1 {
    font-size: 29px;
    
}

}






