@media (max-width: 767px) {

.navbar {
    min-height: 46px;
}

/* _images */

.logoGalicia {
    margin-bottom: -9px;
    width: 133px;      
}

.navbar>.container .navbar-brand {
    background-size: initial;
}


/* _slider */

.beneficios {
    top: 27%;
}






}