
.logoGalicia {
    width: 175px; 
    height: 31px;
    background-image: url("../images/eminent/logoEminent.svg");
    background-repeat: no-repeat;
    margin-top: 5px;        
}

.icon-svg.checkmark {
    background-image: url(../images/eminent/check.svg);
}



